---
import type { CollectionEntry } from 'astro:content'
import BaseLayout from './BaseLayout.astro'

interface Props {
  post: CollectionEntry<'posts'>
}

const { post } = Astro.props
const { headings } = await post.render()
---

<BaseLayout
    title={post.data.title}
    description={post.data.summary || ""},
    image={`${import.meta.env.SITE}/posts/${post.slug}/og.png`}
    canonicalUrl={`${import.meta.env.SITE}/posts/${post.slug}/`}
    type='article'
>
    <div class="w-full mt-8 lg:flex lg:items-start">
        <article class="w-full break-words mr-28 prose">
            <slot />
        </article>
    </div>
</BaseLayout>